<div id="container">
    This is the chapter page.
    <p id="parse-book-id"><%=bookID%></p>
    <p><%=book.bookname%></p>
    <button id="update-new-chapter" onclick="updateNewChapter()">update new chapter</button>
</div>
<script type="text/javascript" src="../public/js/chapters.js" defer></script>