<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="Forever Read">
    <meta name="author" content="Naughty Blue Cat">
    <title>Forever Read</title>

    <!-- Latest compiled and minified CSS -->

    <script src="../../../../public/vendor/js/jquery-3.2.1.min.js"></script>
    <!--jQuery-->
     <!--Latest compiled and minified CSS-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../../../public/vendor/css/bootstrap.min.css">
    <link href="../../../../public/css/starter-template.css" rel="stylesheet">
    <link href="../../../../public/css/select-style.css" rel="stylesheet">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
          <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../../../public/vendor/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
            <!--crossorigin="anonymous"></script>-->
    <script src="../../../../public/vendor/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="../../../../public/vendor/css/jquery-ui.css">
    <!-- Latest compiled and minified JavaScript -->
    <!--<link href="https://cdn.quilljs.com/1.2.3/quill.snow.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../../../../public/vendor/css/quill.snow.css">
    <!--<script src="https://cdn.quilljs.com/1.2.3/quill.js"></script>-->
    <script src="../../../../public/vendor/js/quill.js"></script>

</head>

<body style="background-color:#f0f0f5;">

<%- body %>

</body>

</html>