<a data-toggle="collapse" href="#publish-book"
   class="btn btn-default btn-md" role="button" xmlns="http://www.w3.org/1999/html">Publish a new Book</a>
<form id="publish-book" class="collapse" action="/publishBook" method="post">
    <div>
        <label>Book Name:</label>
        <input type="text" name="bookname"/>
    </div>
    <div>
        <label>Book Description:</label>
        <textarea type="text" name="bookDescription"/></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="Publish!"/>
    </div>
</form>