<a href="/">Back to Home Page</a>
<form id="publish-book"  action="/publishBook" method="post">
    <div>
        <label>Book Name:</label>
        <input id="book-name" type="text" name="bookname"/>
    </div>
    <div>
        <label>Book Description:</label>
        <textarea type="text" name="bookDescription"/></textarea>
    </div>
    <div>
        <label>Book Genre:</label>
        <br></br>
        <input id = "bg_fiction" type = "checkbox" name="bookGenre" value="Fiction"/>Fiction
        <input id = "bg_romance" type = "checkbox" name = "bookGenre" value="Romance"/>Romance
        <input id = "bg_horror" type = "checkbox" name = "bookGenre" value="Horror"/>Horror
        <input id = "bg_detective" type = "checkbox" name = "bookGenre" value="Detective"/>Detective
        <input id = "bg_fantasy" type = "checkbox" name = "bookGenre" value="Fantasy"/>Fantasy
        <input id = "bg_poetry" type = "checkbox" name = "bookGenre" value="Poetry"/>Poetry
        <input id = "bg_prose" type = "checkbox" name = "bookGenre" value="Prose"/>Prose
        <input id = "bg_crime" type = "checkbox" name = "bookGenre" value="Crime"/>Crime
        <input id = "bg_comedy" type = "checkbox" name = "bookGenre" value="Comedy"/>Comedy
        <input id = "bg_other" type = "checkbox" name = "bookGenre" value="Other"/>Other
    </div>
    <div>
        <input id="submit-publish-form" type="submit" class="btn btn-primary btn-sm"
               onclick="return empty()" value="Publish!"/>
    </div>

</form>

<script type="text/javascript" src="../public/js/publish.js" defer></script>