
<script type="text/javascript" src="../public/js/publish.js" defer></script>
<link href="../public/css/publish.css" rel="stylesheet" type="text/css">


<% if (user != null) { %>

<p hidden id="parse-user"><%= (user.role).toString() %></p>

<p hidden id="parse-user-id"><%= (user._id).toString() %></p>

<% } %>


<div id = "banner">
    <h1 id = "webtitle">Forever Read</h1>
    <p id = "webdes">Write, Read, Communicate and Grow, Whenever You Like</p>

    <nav class="navbar navbar-default" id = "nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--clicking 'ForeverRead' go back to home page-->
                <a class="navbar-brand" href="/">Forever Read</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                    <!--rank method to discussed-->
                    <!--<li><a href="#" onclick="sortBySubscribedNumber()">Rank</a></li>-->
                    <li><a href="/service/showranking">Ranking</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/service/searchBookByGenre/Comedy">Comedy</a></li>
                            <li><a href="/service/searchBookByGenre/Crime">Crime</a></li>
                            <li><a href="/service/searchBookByGenre/Detective">Detective</a></li>
                            <li><a href="/service/searchBookByGenre/Fantasy">Fantasy</a></li>
                            <li><a href="/service/searchBookByGenre/Fiction">Fiction</a></li>
                            <li><a href="/service/searchBookByGenre/Horror">Horror</a></li>
                            <li><a href="/service/searchBookByGenre/Other">Other</a></li>
                            <li><a href="/service/searchBookByGenre/Poetry">Poetry</a></li>
                            <li><a href="/service/searchBookByGenre/Prose">Prose</a></li>
                            <li><a href="/service/searchBookByGenre/Romance">Romance</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="/service/searchBookName" method="post">
                    <div class="form-group">
                        <input type="text" name="bookNameSearched" class="form-control typeahead" placeholder="Search bookname">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">

                    <% if (user != null) {%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome, <%=user.username%> <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a id="profile-redirect-url" href="/profile" >
                                    Profile
                                </a></li>
                            <% if (user.role == "writer") {%>
                            <li><a id='publish' href='/publish'>Publish</a></li>
                            <%}%>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Log Out</a></li>

                        </ul>
                    </li>
                    <%}else {%>
                    <li><a href="/signin">
                            Sign in or Sign up
                        </a></li>
                    <%}%>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>




<div id = "container">
    <span id = "navline">
        <a href="/">HomePage</a>
        <p id = "pub"> > Publish New Book </p>
    </span>

    <div class="container" id = "alert">
        <div id="non-empty-alert" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-hide="alert">&times;</button>
            Some field can not be left empty
        </div>
    </div>

    <div id = "all">
        <form id="publish-book"  action="/publishBook" method="post">
            <table id = "new_book">
                <tr id = "name">
                    <td><label>Book Name:</label></td>
                    <td><input class="publish-non-empty" id="book-name" type="text" name="bookname"/></td>
                </tr>
                <tr>
                    <td><label>Book Description:</label></td>
                    <td><textarea type="text" name="bookDescription" id = "book-des"/></textarea></td>
                </tr>
            </table>
                <div id = "new_g">
                    <table>
                    <td><label>Book Genre:</label></td>
                        <th>
                            <div id = "choice">
                    <input type="checkbox" id="teleport-1" name="bookGenre" value="Fiction">
                    <label for="teleport-1" class="green">Fiction</label>
                    <input type="checkbox" id="teleport-2" name="bookGenre" value="Romance">
                    <label for="teleport-2" class="green">Romance</label>
                    <input type="checkbox" id="teleport-3" name="bookGenre" value="Horror">
                    <label for="teleport-3" class="green">Horror</label>
                    <input type="checkbox" id="teleport-4" name="bookGenre" value="Detective">
                    <label for="teleport-4" class="green">Detective</label>
                    <input type="checkbox" id="teleport-5" name="bookGenre" value="Fantasy">
                    <label for="teleport-5" class="green">Fantasy</label>
                    <input type="checkbox" id="teleport-6" name="bookGenre" value="Poetry">
                    <label for="teleport-6" class="green">Poetry</label>
                    <input type="checkbox" id="teleport-7" name="bookGenre" value="Prose">
                    <label for="teleport-7" class="green">Prose</label>
                    <input type="checkbox" id="teleport-8" name="bookGenre" value="Crime">
                    <label for="teleport-8" class="green">Crime</label>
                    <input type="checkbox" id="teleport-9" name="bookGenre" value="Comedy">
                    <label for="teleport-9" class="green">Comedy</label>
                    <input type="checkbox" id="teleport-10" name="bookGenre" value="Other">
                    <label for="teleport-10" class="green">Other</label>
                            </div>
                        </th>
                    </table>
                </div>
                <div id = "submit_btn">
                    <input id="submit-publish-form" type="submit" class="btn btn-primary btn-md"
                           onclick="return empty()" value="Publish!"/>
                </div>

        </form>
    </div>

</div>
