<body>
<div id="login" class="center-vertical">
    <form action="/login" method="post" class="well" id="form-login">
        <h2>Hello!</h2>
        <h6>Please Login To Your Forever Read Account</h6>
        <div class="form-group">
            <label>Username</label>
            <input type="text" id="username-tf" name="username" class="form-control">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" id="password-tf" name="password" class="form-control">
        </div>
        <div class="controls">
            <button type="submit" class="btn btn-primary button-sign-in">
                <!--somehow following line does not work-->
                <!--<span class="glyphicon glyphicon-lock"></span>-->
                Sign In
            </button>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="btm-links">
            <div id="create-account">
                <a href="/signup">Create An Account</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
</body>
<link rel="stylesheet" href="../public/css/styles.css" type="text/css">