<body>
<div id="account-form-container" class="center-vertical">
<form action="/local-reg" method="post" id="account-form" class="form-horizontal well">
    <h2>SignUp</h2>
    <h6 id="sub1">Please tell us something about you</h6>
    <hr>
    <div class="form-group">
        <label class="control-label col-sm-3">Email</label>
        <div class="col-sm-9">
            <input type="text" id="email-tf" name="email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Join as Writer or Reader?</label>
        <div class="col-sm-9">
            <label class="radio-inline"><input type="radio" class="user-role" name="role" value="writer">Writer</label>
            <label class="radio-inline"><input type="radio" class="user-role" name="role" value="reader">Reader</label>
        </div>
    </div>
    <hr>
    <h6 id="sub2">Choose Your username & Password</h6>
    <div class="form-group">
        <label class="control-label col-sm-3">Username</label>
        <div class="col-sm-9">
            <input type="text" id="username-tf" name="username" class="form-control disabled">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3">Password</label>
        <div class="col-sm-9">
            <input type="text" id="password-tf" name="password" class="form-control">
        </div>
    </div>
    <hr>
    <div class="form-buttons">
        <button type="button" id="account-form-btn1" class="btn btn-default" onClick="location.href='/signin'">Cancel</button>
        <button type="submit" id="account-form-btn2" class="btn btn-primary">Submit</button>
    </div>
    <div class="clearfix"></div>
</form>
</div>
<div class="modal-form-errors modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close">x</button>
                <h4>Whoops!</h4>
            </div>
            <div class="modal-body">
                <p>There seems to be a problem</p>
                <ul></ul>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
</body>
<link rel="stylesheet" href="../public/css/styles.css" type="text/css">
<script src="../public/js/form-validators/localRegValidator.js" type="text/javascript"></script>
<script src="../public/js/signup.js" type="text/javascript"></script>