<form id="chapter-form" action="/updateNewChapterPost" method="post">
    <div>
        <label>=title:</label>
        <input type="text" name="title"/>
    </div>
    <div>
        <label>Content:</label>
        <textarea type="text" name="chapterContent"/></textarea>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="ChapterPublish"/>
    </div>
    <input type="text" name="bookid">
</form>