<p>Here you can upload a new chapter to your book</p>
<form id="chapter-form" action="/util/uploadNewChapter" method="post">
    <div>
        <label>title:</label>
        <input type="text" name="title"/>
    </div>
    <div>
        <label>Content:</label>
        <textarea type="text" name="chapterContent"/></textarea>
    </div>
    <div>

        <input type="hidden" name="bookid" value="<%=bookID%>"/>
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-sm" value="ChapterPublish"/>
    </div>
    <input hidden type="text" name="bookid">
</form>
