@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';

#b{
}

#banner1{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    background: url(../banner2.jpeg)no-repeat;
    background-size: cover;
    background-position: center;

}

#nav{
    background: rgba(255,255,255,0.6);
}


#webtitle1{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 80px;
    text-align: left;
}

#webdes1{
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: medium;
}

#book-title{
    display: inline;
}

#book_info{
    border: dashed;
    border-color: #265a88;
    border-width: 2px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: large;
    margin-bottom: 30px;
}

#book_actions{
    margin-left: 50px;
    margin-right: 50px;

}

#actions{
    padding-top: 20px;
}

#comments{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#chapters{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#navline{
    font-size: x-large;
    font-weight: bold;
}

#table-for-chapter-menu{
    margin: auto;
}

.alert{
    display: none;
}

#rights{
     background-color: #cccccc;
     padding-bottom: 10px;
     text-align: center;
     margin-bottom: 0;

 }

#bookinfo_modal{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
}

