@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';

#banner{
   padding: 0;
   padding-top: 10px;
   margin: 0;
   background: url(../banner2.jpeg)no-repeat;
   background-size: cover;
   background-position: center}

#nav{
   background: rgba(255,255,255,0.6);
   margin-top: 0px
}

#nav a:hover{
   background-color: rgba(255,255,255,0.6);
   color: black;
   font-style: oblique;
}

#chapter{
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 50px;
   margin-bottom: 20px;


}

#action{
   margin-top: 10px;
   text-align: center;
}

#title{
   text-align: center;
}

#all{
   margin-top: 20px;
   background-color: #fefffd;
   padding-top: 20px;
   padding-left: 50px;
   padding-right: 50px;
}

#hr{
   border: 0;
   height: 2px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

#hr1{
   padding: 0;
   border: none;
   border-top: medium double #333;
   color: #333;
   text-align: center;
}

#hr2{
   padding: 0;
   border: none;
   border-top: medium double #333;
   color: #333;
   text-align: center;
}

#editor-container{
   font-size: medium;
}

#gray1{
   color: #adadad;
}

#gray2{
   color: #adadad;
}

#switch{
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 80px;
   text-align: center;
align-items: center}

#switch_page {
   padding-left: 200px;
}

tr{
   text-align: center;
   align-self: center;
}

th{
   text-align: center;
   width: 200px;
   font-size: medium;
}

#hr1:after {
   content: "Content";
   display: inline-block;
   position: relative;
   top: -0.7em;
   font-size: 1.5em;
   padding: 0 0.25em;
   background: white;
}

#hr2:after {
   content: "End";
   display: inline-block;
   position: relative;
   top: -0.7em;
   font-size: 1.5em;
   padding: 0 0.25em;
   background: white;
}


#chapter-title{
   display: inline;
}

#navline{
   font-size: x-large;
   font-weight: bold;
}



#webtitle{
   font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   font-weight: 900;
   color: white;
   padding-left: 50px;
   padding-top: 80px;
   text-align: left;
}

#webdes{
   font-family: 'Lora', serif;
   font-style: italic;
   text-align: left;
   color: white;
   padding-left: 50px;
   padding-bottom: 40px;
   font-size: medium;
}


#title{
   text-align: center;
}

#editor-container {
   height: 375px;
   width: 100%;
}