@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';

body{
    margin: 0;
    padding: 0;
}

#banner1{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    background: url(../banner2.jpeg)no-repeat;
    background-size: cover;
    background-position: center;

}


#nav{
    background: rgba(255,255,255,0.6);
    margin-top: 0px
}

#nav a:hover{
    background-color: rgba(255,255,255,0.6);
    color: black;
    font-style: oblique;
}

#webtitle1{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 80px;
    text-align: left;
}

#webdes1{
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: medium;
}

#book-title{
    display: inline;
}



#book_info{
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: large;
    margin-bottom: 30px;
}

#book_actions{
    margin-left: 50px;
    margin-right: 150px;
    font-family: "Arial Rounded MT Bold";
}

#actions{
    padding-top: 0px;
    text-align: center;
}

#comments{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#chapters{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 50px;
    padding-left: 30px;

}

#comments{
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 50px;
    padding-left: 30px;
}

#container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#navline{
    font-size: x-large;
    font-weight: bold;
}

#table-for-chapter-menu{
text-align: center;
}


td{
    font-size: medium;
}



.alert{
    display: none;
}

#rights{
     background-color: #cccccc;
     padding-bottom: 10px;
     text-align: center;
     margin-bottom: 0;

 }

#bookinfo_modal{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
}

#all{
    background-color: rgba(255,255,255,0.3);
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

#publish_btn{
    text-align: center;
}

#comment-form{
    margin-bottom: 10px;
    font-size: medium;
}

#reader{
    font-weight: bold;
}

#cmt{
    font-style: italic;
}