@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';

#banner{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    background: url(../banner2.jpeg)no-repeat;
    background-size: cover;
    background-position: center}

#nav{
    background: rgba(255,255,255,0.6);
    margin-top: 0px
}

#nav a:hover{
    background-color: rgba(255,255,255,0.6);
    color: black;
    font-style: oblique;
}

#container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#all{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #fefffd;
}

#chapter-title-input{
    display: inline;
    width: 300px;
    height: 30px;
}

#edit{
    padding-left: 20px;
    padding-right: 20px;
}

#submit{
    text-align: center;
    padding-top: 20px;
}

th{
    width: 150px;
}


hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

#non-empty-alert{
    padding-left: 50px;
    width: 500px;
}

#chapter-title{
    display: inline;
}

#navline{
    font-size: x-large;
    font-weight: bold;
}

#webtitle{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 80px;
    text-align: left;
}

#webdes{
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: medium;
}


#title{
    font-size: 250%;
    margin: auto;
    text-align: center;
}
.alert{
    display: none;
}

#editor-container {
    height: 375px;
    width: 100%;
}