@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';


html, body { margin:0; padding:0 }

#b{
    padding: 0;
    margin: 0;
}

#banner{
    padding: 0;
    margin: 0;
    padding-top: 10px;
    background: url(../banner2.jpeg)no-repeat;
    background-size: cover;
    background-position: center}

#nav{
    background: rgba(255,255,255,0.6);
    margin-top: 0px
}

#nav a:hover{
    background-color: rgba(255,255,255,0.6);
    color: black;
    font-style: oblique;
}

#navtitle{
    font-weight: bold;
}


#webtitle{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 80px;
    text-align: left;
}

#webdes{
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: medium;
}


#render-for-all{
    text-align: center;
    margin: 250px;
    margin-top: 70px;
    margin-bottom: 100px;
    alignment: center;
    }

#book-table{
    font-size: large;
}

#book-table th{
    text-align: center;
    font-size: larger;
}

#publish-page{
    text-align: center;
}

#profile{
    text-align: center
}

#publish-profile{
    margin-inside: 20px;
}

hr.style1 {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style1:after {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#rights{
    background-color: #cccccc;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 0;
}