@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';


#banner{
    background:
    url(../banner.jpeg)no-repeat;

    background-size: 100%;
    height: 500px;
}

#render-for-all{
    text-align: center;
}

#webtitle{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 250px;
    text-align: left;
}

#webdes{
    font-family: 'Lora', serif;
    text-align: left;
    color: white;
    padding-left: 50px;
}

#book-table{
    margin: auto;
}

#publish-page{
    text-align: center;
}

#profile{
    text-align: center
}

#publish-profile{
    margin-inside: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
html, body { margin: 0; padding: 0 }