#render-for-all{
    text-align: center;
}

.h1{
    text-align: center;
}

#book-table{
    margin: auto;
}

#publish-page{
    text-align: center;
}

#profile{
    text-align: center
}

#publish-profile{
    margin-inside: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
html, body { margin: 0; padding: 0 }