#profile-title{
    text-align: center;
}


#container{
    text-align: center;
}

#back{
    font-size: 120%;
}

#s1{
    font-size: 150%;
}

#book-table{
    margin: auto;
}

#subscribed-book-table{
    margin: auto;
}