@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';

html,body{
    margin: 0;
    padding: 0;
}

#container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#banner{
    padding: 0;
    padding-top: 10px;
    margin: 0;
    background: url(../banner2.jpeg)no-repeat;
    background-size: cover;
    background-position: center}

#nav{
    background: rgba(255,255,255,0.6);
    margin-top: 0px
}

#nav a:hover{
    background-color: rgba(255,255,255,0.6);
    color: black;
    font-style: oblique;
}

#all{
    background-color: #fefffd;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    font-size: medium;
}

#alert{
    margin-left: 80px;
    margin-right: 300px;
    margin-top: 10px;
    width: 70%;
}

#webtitle{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 80px;
    text-align: left;
}

#webdes{
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: medium;
}



.alert{
    display: none;
}

#pub{
    display: inline;
}

#navline{
    font-size: x-large;
    font-weight: bold;
}

#publish-book{
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;

}

tr{
    padding-bottom: 10px;
}

td{
    padding-top: 20px;
    width: 150px;
}

#name{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#new_book{
    margin-bottom: 10px;
}

#book-des{
    padding-top: 10px;
    width: 500px;
    height: 100px;
}

#book-name{
    width: 500px;

}

#new_g{
    margin-bottom: 30px;
}
#submit_btn{
    text-align: center;
}